{
    "root": true,

    "extends": "@ljharb",

    "rules": {
        "consistent-return": 1,
        "indent": [2, 4],
        "sort-keys": 0,
    },

    "overrides": [
        {
            "files": "example/**",
            "rules": {
                "no-console": 0,
            },
        },
    ],
}
